.perfil-container {
    padding: 20px;
    color: #fff;
    background-color: #000;
  }
  
  .perfil-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .perfil-info {
    text-align: center; /* Centrar el contenido */
    display: flex;
    flex-direction: column; /* Asegura que los elementos estén en columna */
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
  }
  
  .perfil-imagen {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .perfil-portfolio {
    margin-top: 20px;
  }
  
  .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Cambia auto-fit por auto-fill */
    gap: 20px;
    justify-items: center; /* Asegura que los elementos estén centrados */
    align-items: start; /* Asegura que los elementos se alineen al inicio */
}
  
  .portfolio-item {
    text-align: center; /* Centrar el contenido */
    background-color: #1a1a1a;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column; /* Asegura que los elementos estén en columna */
    align-items: center; /* Centra horizontalmente */
  }
  
  .portfolio-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .btn {
    background-color: #ffa500;
    color: #000;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto; /* Empuja el botón hacia abajo */
  }
  
  .btn:hover {
    background-color: #ff8c00;
  }
  
  .ver-mas {
    margin-top: 20px;
  }